<body>
  <head>
    <!-- script type="text/javascript" src="http://w.sharethis.com/gallery/shareegg/shareegg.js"></script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "cd64a4b5-2653-4674-8fa5-b07c1e3b9ee4", doNotHash: false, doNotCopy: false, hashAddressBar: true, onhover:false});</script>

     <script src="bootstrap.min.js"></script>
    // <script src="compliments.js"></script>
    // <script src="main.js"></script> -->
  </head>

    <div class="container">
      <div class="row">
        <div class="header span10">
          <h2>book buzz suggestion</h2>
        </div>
        <div class="span2">
          <a class="submit" href="mailto:emergencycompliment@gmail.com">submit your own</a>
          <span class='st_sharethis_large' displayText='ShareThis'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_pinterest_large' displayText='Pinterest'></span>
          <span class='st_email_large' displayText='Email'></span>

          <!-- <span id="st" st_via="" class="custom"></span> -->
          <span id='shareThisShareEgg' class='shareEgg'></span>
        </div>
      </div>
      <div class="row content">
        <div class="compliment span8">
        </div>
      </div>
      <div class="cta">
        <div class="links">
          <span class="better"><a href="#">You betcha!</a></span>
          <span class="more"><a href="#">Uh, no...</a> <br /></span>
        </div>
      </div>
    </div>

     <!--<script type='text/javascript'>stlib.shareEgg.createEgg('shareThisShareEgg', ['sharethis','facebook','twitter','linkedin','pinterest','email','googleplus'], {title:'ShareThis Rocks!!!',url:'http://www.sharethis.com',theme:'shareegg'});</script>

    // <script type="text/javascript">stLight.options(
    //   {
    //      publisher: "7d84825e-a21a-4a0f-a81d-3d751d4d13be"
    //   });
    // </script> -->
  </body>

