<body>
  <head>
    <!-- script type="text/javascript" src="http://w.sharethis.com/gallery/shareegg/shareegg.js"></script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "cd64a4b5-2653-4674-8fa5-b07c1e3b9ee4", doNotHash: false, doNotCopy: false, hashAddressBar: true, onhover:false});</script>

     <script src="bootstrap.min.js"></script>
    // <script src="compliments.js"></script>
    // <script src="main.js"></script> -->
  </head>

    <div class="container">
      <div class="row">
        <div class="header span10">
          <h2>You Should Read This</h2>
       </div>
        <div class="span2">
          <a class="submit" href="mailto:youshouldreadthis@gmail.com">a small curated quarterly reading list</a>
          <!-- <span id="st" st_via="" class="custom"></span> -->

          <span class='st_sharethis' displayText='ShareThis'></span>

          <!-- <span><i class='icon-small icon-share' displayText='ShareThis'></i></span> -->
          <!-- <span><i class="icon-large icon-search"></i></span> -->

          <span class='st_twitter' displayText='Tweet'></span>
          <span class='st_facebook' displayText='Facebook'></span>
          <span class='st_pinterest' displayText='Pinterest'></span>
          <span class='st_email' displayText='Email'></span>

          <!-- <i class="icon-large icon-heart"></i> -->
<!-- <i class="icon-large icon-heart"></i> -->
        </div>
      </div>
      <div class="row content">
        <div class="compliment span8">
        </div>
      </div>
      <div>
        <div class="links">
          <span class="better"><a href="#">Yes!</a></span>
          <span class="more"><a href="#">Uh, no...</a> <br /></span>
        </div>
      </div>
    </div>


  </body>
<!-- class="cta"
class="links" -->
