<!DOCTYPE html>
<html>
<head>
  <title>You Should Read This</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">var switchTo5x=false;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "cd64a4b5-2653-4674-8fa5-b07c1e3b9ee4", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

  <link href='http://fonts.googleapis.com/css?family=Cabin:500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>

